flowsara
[
    {
        "id": "696acaf1f62e8bad",
        "type": "tab",
        "label": "Flow 11",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "eaefedbd09a097bb",
        "type": "ui_button",
        "z": "696acaf1f62e8bad",
        "name": "",
        "group": "f68893dd7add858b",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button 0",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "bd75ed52e5fe7ad6",
                "246ec627b9f401c3",
                "683d84364c44dd09"
            ]
        ]
    },
    {
        "id": "246ec627b9f401c3",
        "type": "mqtt out",
        "z": "696acaf1f62e8bad",
        "name": "",
        "topic": "maqueta3/actuadores/led",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "03d08d9152813fbc",
        "x": 410,
        "y": 100,
        "wires": []
    },
    {
        "id": "bd75ed52e5fe7ad6",
        "type": "mqtt out",
        "z": "696acaf1f62e8bad",
        "name": "",
        "topic": "maqueta3/actuadores/rele",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "03d08d9152813fbc",
        "x": 410,
        "y": 180,
        "wires": []
    },
    {
        "id": "683d84364c44dd09",
        "type": "mqtt out",
        "z": "696acaf1f62e8bad",
        "name": "",
        "topic": "maqueta3/actuadores/son",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "03d08d9152813fbc",
        "x": 410,
        "y": 260,
        "wires": []
    },
    {
        "id": "fc5cbdd910e6683d",
        "type": "ui_text",
        "z": "696acaf1f62e8bad",
        "group": "55ada54d49867386",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "luminosidad",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 650,
        "y": 460,
        "wires": []
    },
    {
        "id": "4ca359920e58c7d2",
        "type": "mqtt in",
        "z": "696acaf1f62e8bad",
        "name": "",
        "topic": "maqueta3/sensores/luz",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03d08d9152813fbc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 460,
        "wires": [
            [
                "fc5cbdd910e6683d"
            ]
        ]
    },
    {
        "id": "4154c13136571335",
        "type": "mqtt in",
        "z": "696acaf1f62e8bad",
        "name": "",
        "topic": "maqueta3/sensores/temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03d08d9152813fbc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 540,
        "wires": [
            [
                "f7954cdad9fae034"
            ]
        ]
    },
    {
        "id": "f7954cdad9fae034",
        "type": "ui_gauge",
        "z": "696acaf1f62e8bad",
        "name": "",
        "group": "55ada54d49867386",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "temperatura",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 540,
        "wires": []
    },
    {
        "id": "1425c6363730e756",
        "type": "ui_chart",
        "z": "696acaf1f62e8bad",
        "name": "",
        "group": "55ada54d49867386",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "humidade",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 640,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "50cf85d7e19e6c7a",
        "type": "mqtt in",
        "z": "696acaf1f62e8bad",
        "name": "",
        "topic": "maqueta3/sensores/hum",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03d08d9152813fbc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 620,
        "wires": [
            [
                "1425c6363730e756"
            ]
        ]
    },
    {
        "id": "f68893dd7add858b",
        "type": "ui_group",
        "name": "Maqueta3 Actuadores",
        "tab": "26f6b5a4100c324f",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "03d08d9152813fbc",
        "type": "mqtt-broker",
        "name": "VPS_mqtt3",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "55ada54d49867386",
        "type": "ui_group",
        "name": "Maqueta3 Sensores",
        "tab": "26f6b5a4100c324f",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "26f6b5a4100c324f",
        "type": "ui_tab",
        "name": "Maqueta3",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
